@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    font-family: $Family-Manrope;
    background-color: $light-grayish-blue;
    display: grid;
    place-items: center;
    padding: 3rem 0;
}

main {
    width: 90%;
    max-width: 450px;
    background-color: white;
    border-radius: 1rem;

    & > img {
        width: 100%;
        height: calc(90vw * 0.5);
        max-height: 225px;
        object-fit: cover;
    }
}