@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size;
}

body {
    font-family: $Family-Manrope;
    background-color: $light-grayish-blue;
    display: grid;
    place-items: center;
    padding: 3rem 0;
}

main {
    width: 85%;
    max-width: 400px;
    background-color: white;
    border-radius: 1rem;

    & > img {
        width: 100%;
        height: calc(90vw * 0.6);
        max-height: 225px;
        object-fit: cover;
        object-position: center 20%;
        border-radius: 1rem 1rem 0 0;
    }
}

section {
    padding: 2.5rem 2.5rem 0.5rem;
}

h1 {
    color: $very-dark-grayish-blue;
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

#description {
    color: $desaturated-dark-blue;
    font-weight: 700;
    line-height: 1.5em;
    margin-bottom: 1em;
}

div {
    // background-color: $very-dark-grayish-blue;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1.5rem 2.5rem;
    border-radius: 0 0 1rem 1rem;
}

#user {
    display: flex;
    gap: 1rem;

    #name {
        color: $very-dark-grayish-blue;
        font-weight: 700;
    }

    #date {
        color: $grayish-blue;
    }

    & > img {
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
    }
}

#share-active {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 0.8rem;
        color: $grayish-blue;
    }

    display: none;
}

button {
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
        cursor: pointer;
    }
}